#                                    Sentimental Analysis

In [1]:
pip install textblob

Collecting textblob
  Downloading textblob-0.18.0.post0-py3-none-any.whl.metadata (4.5 kB)
Collecting nltk>=3.8 (from textblob)
  Downloading nltk-3.8.1-py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: click in c:\users\akhil\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from nltk>=3.8->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\akhil\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from nltk>=3.8->textblob) (1.3.2)
Collecting regex>=2021.8.3 (from nltk>=3.8->textblob)
  Downloading regex-2023.12.25-cp310-cp310-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     ----------------------------- ---------- 30.7/42.0 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 42.0/42.0 kB 401.7 kB/s eta 0:00:00
Collecting tqdm (from nltk>=3.8->textblob)
  Downloading tqdm-4.66.2-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ---------------------------------------- 57.6/57.6 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\akhil\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from click->nltk>=3.8->textblob) (0.4.6)
Downloading textblob-0.18.0.post0-py3-none-any.whl (626 kB)
   ---------------------------------------- 0.0/626.3 kB ? eta -:--:--
   ------- -------------------------------- 112.6/626.3 kB 3.3 MB/s eta 0:00:01
   ----------- ---------------------------- 174.1/626.3 kB 2.1 MB/s eta 0:00:01
   ---------------- ----------------------- 256.0/626.3 kB 2.0 MB/s eta 0:00:01
   -------------------- ------------------- 327.7/626.3 kB 2.0 MB/s eta 0:00:01
   ------------------------ --------------- 389.1/626.3 kB 2.0 MB/s eta 0:00:01
   -------------------------------- ------- 501.8/626.3 kB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 583.7/626.3 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 626.3/626.3 kB 2.0 MB/s eta 0:00:00
Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   - -------------------------------------- 0.1/1.5 MB 2.0 MB/s eta 0:00:01
   -- ------------------------------------- 0.1/1.5 MB 1.7 MB/s eta 0:00:01
   -- ------------------------------------- 0.1/1.5 MB 939.4 kB/s eta 0:00:02
   ------ --------------------------------- 0.3/1.5 MB 1.6 MB/s eta 0:00:01
   -------- ------------------------------- 0.3/1.5 MB 1.5 MB/s eta 0:00:01
   ---------- ----------------------------- 0.4/1.5 MB 1.5 MB/s eta 0:00:01
   ------------- -------------------------- 0.5/1.5 MB 1.6 MB/s eta 0:00:01
   --------------- ------------------------ 0.6/1.5 MB 1.8 MB/s eta 0:00:01
   ------------------ --------------------- 0.7/1.5 MB 1.8 MB/s eta 0:00:01
   ---------------------- ----------------- 0.8/1.5 MB 1.9 MB/s eta 0:00:01
   ----------------------- ---------------- 0.9/1.5 MB 1.9 MB/s eta 0:00:01
   --------------------------- ------------ 1.0/1.5 MB 2.0 MB/s eta 0:00:01
   ------------------------------ --------- 1.2/1.5 MB 2.0 MB/s eta 0:00:01
   ------------------------------- -------- 1.2/1.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 1.9 MB/s eta 0:00:00
Downloading regex-2023.12.25-cp310-cp310-win_amd64.whl (269 kB)
   ---------------------------------------- 0.0/269.5 kB ? eta -:--:--
   --------- ------------------------------ 61.4/269.5 kB 3.4 MB/s eta 0:00:01
   ---------------------------- ----------- 194.6/269.5 kB 3.0 MB/s eta 0:00:01
   ---------------------------------------  266.2/269.5 kB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 269.5/269.5 kB 1.9 MB/s eta 0:00:00
Downloading tqdm-4.66.2-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.3 kB ? eta -:--:--
   ------------------------------------ --- 71.7/78.3 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 78.3/78.3 kB 731.8 kB/s eta 0:00:00
Installing collected packages: tqdm, regex, nltk, textblob
Successfully installed nltk-3.8.1 regex-2023.12.25 textblob-0.18.0.post0 tqdm-4.66.2
Note: you may need to restart the kernel to use updated packages.

## importing required libraries for data loading

In [25]:
import pandas as pd
import pickle

In [3]:
re_bat=pd.read_csv('Review_bat.csv')
re_bat

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1
...,...,...,...,...,...,...,...,...
8513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
8514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
8515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
8516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [4]:
re_bat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8518 entries, 0 to 8517
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Reviewer Name    8508 non-null   object
 1   Review Title     8508 non-null   object
 2   Place of Review  8468 non-null   object
 3   Up Votes         8508 non-null   float64
 4   Down Votes       8508 non-null   float64
 5   Month            8053 non-null   object
 6   Review text      8510 non-null   object
 7   Ratings          8518 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 532.5+ KB

In [5]:
null_counts1=re_bat.isnull().sum()
null_counts1

Reviewer Name       10
Review Title        10
Place of Review     50
Up Votes            10
Down Votes          10
Month              465
Review text          8
Ratings              0
dtype: int64

In [6]:
re_bat=re_bat.dropna()
re_bat

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
5,Baji Sankar,Mind-blowing purchase,"Certified Buyer, Hyderabad",173.0,45.0,Oct 2018,Good quality product. Delivered on time.READ MORE,5
6,Flipkart Customer,Must buy!,"Certified Buyer, Doom Dooma",403.0,121.0,Jan 2020,BEST PURCHASE It is a good quality and is more...,5
...,...,...,...,...,...,...,...,...
8495,vishal kumar ashish,Nice,"Certified Buyer, Haridwar",0.0,0.0,Oct 2016,Thanks to the delivery boy ... Service is alwa...,5
8496,Nitya Nand Rai,Good choice,"Certified Buyer, Raebareli",0.0,0.0,Oct 2016,Over priced even after 50% discount price is m...,1
8497,Tarun Reddy,Awesome,Certified Buyer,0.0,0.0,Oct 2016,Too much priced. It was getting me for Rs. 640...,1
8499,Jayachandra,High cost,"Certified Buyer, Mangalore",0.0,0.0,Dec 2015,Hii flipkart customers care..why your delivery...,5
8507,vishnu varma,Really Nice,"Certified Buyer, Agartala",0.0,1.0,Sep 2016,Nice delivery speedREAD MORE,5

In [7]:
re_bat.isnull().sum()

Reviewer Name      0
Review Title       0
Place of Review    0
Up Votes           0
Down Votes         0
Month              0
Review text        0
Ratings            0
dtype: int64

In [8]:
re_bat['Month']=pd.to_datetime(re_bat['Month'])

C:\Users\AKHIL\AppData\Local\Temp\ipykernel_19956\2161366061.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  re_bat['Month']=pd.to_datetime(re_bat['Month'])
C:\Users\AKHIL\AppData\Local\Temp\ipykernel_19956\2161366061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  re_bat['Month']=pd.to_datetime(re_bat['Month'])

In [9]:
re_bat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8013 entries, 0 to 8507
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Reviewer Name    8013 non-null   object
 1   Review Title     8013 non-null   object
 2   Place of Review  8013 non-null   object
 3   Up Votes         8013 non-null   float64
 4   Down Votes       8013 non-null   float64
 5   Month            8013 non-null   datetime64[ns]
 6   Review text      8013 non-null   object
 7   Ratings          8013 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 563.4+ KB

In [10]:
re_bat['Month']

0      2021-02-01
1      2021-02-01
2      2021-04-01
5      2018-10-01
6      2020-01-01
          ...
8495   2016-10-01
8496   2016-10-01
8497   2016-10-01
8499   2015-12-01
8507   2016-09-01
Name: Month, Length: 8013, dtype: datetime64[ns]

In [11]:
re_bat.describe()

          Up Votes   Down Votes                          Month      Ratings
count  8013.000000  8013.000000                           8013  8013.000000
mean      0.386747     0.123424  2019-12-16 17:09:32.819168768     4.198178
min       0.000000     0.000000            2015-12-01 00:00:00     1.000000
25%       0.000000     0.000000            2018-11-01 00:00:00     4.000000
50%       0.000000     0.000000            2020-02-01 00:00:00     5.000000
75%       0.000000     0.000000            2021-02-01 00:00:00     5.000000
max     889.000000   219.000000            2022-11-01 00:00:00     5.000000
std      11.849649     3.334320                            NaN     1.244423

### Data Cleaning

In [12]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob

In [13]:
def clean_text(text):
    text = re.sub(r'[^a-zA-Z\s]', '', text)  # Remove special characters and punctuation
    text = text.lower()  # Convert text to lowercase
    return text

def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    tokens = text.split()
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    return ' '.join(lemmatized_tokens)

In [14]:
re_bat['Review text']=re_bat['Review text'].apply(clean_text)

C:\Users\AKHIL\AppData\Local\Temp\ipykernel_19956\3269074822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  re_bat['Review text']=re_bat['Review text'].apply(clean_text)

In [15]:
re_bat['Review text']=re_bat['Review text'].apply(lemmatize_text)

C:\Users\AKHIL\AppData\Local\Temp\ipykernel_19956\676882346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  re_bat['Review text']=re_bat['Review text'].apply(lemmatize_text)

In [16]:
re_bat

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,2021-02-01,nice product good quality but price is now ris...,4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,2021-02-01,they didnt supplied yonex mavis outside cover ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,2021-04-01,worst product damaged shuttlecock packed in ne...,1
5,Baji Sankar,Mind-blowing purchase,"Certified Buyer, Hyderabad",173.0,45.0,2018-10-01,good quality product delivered on timeread more,5
6,Flipkart Customer,Must buy!,"Certified Buyer, Doom Dooma",403.0,121.0,2020-01-01,best purchase it is a good quality and is more...,5
...,...,...,...,...,...,...,...,...
8495,vishal kumar ashish,Nice,"Certified Buyer, Haridwar",0.0,0.0,2016-10-01,thanks to the delivery boy service is always a...,5
8496,Nitya Nand Rai,Good choice,"Certified Buyer, Raebareli",0.0,0.0,2016-10-01,over priced even after discount price is much ...,1
8497,Tarun Reddy,Awesome,Certified Buyer,0.0,0.0,2016-10-01,too much priced it wa getting me for r from my...,1
8499,Jayachandra,High cost,"Certified Buyer, Mangalore",0.0,0.0,2015-12-01,hii flipkart customer carewhy your delivery bo...,5
8507,vishnu varma,Really Nice,"Certified Buyer, Agartala",0.0,1.0,2016-09-01,nice delivery speedread more,5

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, classification_report
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download NLTK resources
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\AKHIL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\AKHIL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\AKHIL\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [18]:
# Function to perform sentiment analysis using TextBlob
def analyze_sentiment(review):
    blob = TextBlob(review)
    sentiment_score = blob.sentiment.polarity
    if sentiment_score > 0:
        return 'Positive'
    elif sentiment_score < 0:
        return 'Negative'
    else:
        return 'Neutral'

In [19]:
re_bat['sentiment'] = re_bat['Review text'].apply(analyze_sentiment)

C:\Users\AKHIL\AppData\Local\Temp\ipykernel_19956\2103214101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  re_bat['sentiment'] = re_bat['Review text'].apply(analyze_sentiment)

In [20]:
re_bat

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings,sentiment
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,2021-02-01,nice product good quality but price is now ris...,4,Positive
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,2021-02-01,they didnt supplied yonex mavis outside cover ...,1,Neutral
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,2021-04-01,worst product damaged shuttlecock packed in ne...,1,Negative
5,Baji Sankar,Mind-blowing purchase,"Certified Buyer, Hyderabad",173.0,45.0,2018-10-01,good quality product delivered on timeread more,5,Positive
6,Flipkart Customer,Must buy!,"Certified Buyer, Doom Dooma",403.0,121.0,2020-01-01,best purchase it is a good quality and is more...,5,Positive
...,...,...,...,...,...,...,...,...,...
8495,vishal kumar ashish,Nice,"Certified Buyer, Haridwar",0.0,0.0,2016-10-01,thanks to the delivery boy service is always a...,5,Positive
8496,Nitya Nand Rai,Good choice,"Certified Buyer, Raebareli",0.0,0.0,2016-10-01,over priced even after discount price is much ...,1,Positive
8497,Tarun Reddy,Awesome,Certified Buyer,0.0,0.0,2016-10-01,too much priced it wa getting me for r from my...,1,Positive
8499,Jayachandra,High cost,"Certified Buyer, Mangalore",0.0,0.0,2015-12-01,hii flipkart customer carewhy your delivery bo...,5,Positive
8507,vishnu varma,Really Nice,"Certified Buyer, Agartala",0.0,1.0,2016-09-01,nice delivery speedread more,5,Positive

In [35]:
# Feature Extraction
tfidf_vectorizer = TfidfVectorizer()
X = tfidf_vectorizer.fit_transform(re_bat['Review text'])
y = re_bat['sentiment']
fname='vectorizer'
pickle.dump(tfidf_vectorizer,open(fname,'wb'))

## splitting the data into train and test

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Training Model

In [23]:
model = LinearSVC()

model.fit(X_train, y_train)

C:\Users\AKHIL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

LinearSVC()

In [24]:
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.9769182782283219
Classification Report:
              precision    recall  f1-score   support

    Negative       0.89      0.64      0.75        76
     Neutral       0.00      0.00      0.00         4
    Positive       0.98      1.00      0.99      1523

    accuracy                           0.98      1603
   macro avg       0.62      0.55      0.58      1603
weighted avg       0.97      0.98      0.97      1603

C:\Users\AKHIL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\AKHIL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\AKHIL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [27]:
file_name="sentiment analyzer"
pickle.dump(model,open(file_name,'wb'))

In [29]:
loaded_model=pickle.load(open(file_name,'rb'))

In [33]:
n_pred=loaded_model.predict(X_test)
n_accuracy = accuracy_score(y_test, n_pred)
#print(n_pred)
print("Accuracy:", n_accuracy)

Accuracy: 0.9769182782283219

In [34]:
print(X_test)

  (0, 2002)	0.7437284883679026
  (0, 83)	0.28594095724703095
  (0, 738)	0.45467534274114846
  (0, 1835)	0.08365586397679617
  (0, 2312)	0.2641008703751939
  (0, 1892)	0.28570695467773616
  (1, 2302)	0.5612693563237678
  (1, 680)	0.4856060209271132
  (1, 1976)	0.3329610858287218
  (1, 1142)	0.25544693325232515
  (1, 1973)	0.38079248236805335
  (1, 3215)	0.2980649715747969
  (1, 1835)	0.07479563780850265
  (1, 1235)	0.18332280917521057
  (2, 3045)	0.9781575864816678
  (2, 1835)	0.20786470601898405
  (3, 2328)	0.7603444058271919
  (3, 1204)	0.39940213315172385
  (3, 1538)	0.42145910794236124
  (3, 1142)	0.279349626650984
  (3, 1835)	0.08179441902435623
  (4, 1902)	0.7605213432384943
  (4, 3363)	0.6185199867969247
  (4, 1835)	0.19758621513518665
  (5, 1476)	0.8206843845533146
  :	:
  (1602, 1976)	0.09698842238834589
  (1602, 114)	0.1586307798520479
  (1602, 3134)	0.11959324416530956
  (1602, 1641)	0.13726119446705295
  (1602, 1226)	0.11582363004562612
  (1602, 942)	0.12771281880618096
  (1602, 1167)	0.2218425136997415
  (1602, 1142)	0.2232278435639364
  (1602, 2509)	0.12033186620476521
  (1602, 3158)	0.09076354785364976
  (1602, 2811)	0.07374991890447154
  (1602, 884)	0.2483088255450391
  (1602, 83)	0.07447022462212448
  (1602, 1519)	0.22698530275714937
  (1602, 3215)	0.08682351359563285
  (1602, 3549)	0.11141457445713626
  (1602, 3149)	0.2622599741215374
  (1602, 1835)	0.02178726350114221
  (1602, 1945)	0.1790221229118243
  (1602, 1458)	0.08650310688736693
  (1602, 2895)	0.11191932128224963
  (1602, 3388)	0.09813306711756524
  (1602, 1510)	0.07145440158721826
  (1602, 374)	0.1825708468550264
  (1602, 1892)	0.0744092811879788

In [44]:
txt=input()
txt

'This is bad'

In [45]:
cleaned_txt=clean_text(txt)
cleaned_txt

'this is bad'

In [46]:
lemmatized_txt=(lemmatize_text(cleaned_txt))
lemmatized_txt

'this is bad'

In [47]:
vec_model=pickle.load(open(fname,'rb'))
vec_txt=vec_model.transform([lemmatized_txt])
vec_txt

<1x3565 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [48]:
sent=pickle.load(open(file_name,'rb'))
l_pred=sent.predict(vec_txt)
l_pred

array(['Negative'], dtype=object)